*._*
*.pyc
*.pyo
*.so
*.swp
*~
.#*
.DS_Store
\#*#
/.local
/build
/dist
__pycache__/
/.eggs
/*.egg
/*.egg-info
/.cache
/.coverage*
/.vscode
.pytest_cache
.mypy_cache
.ruff_cache
.dmypy.json
/.venv
/.venv.*
.ggt_cache/
/public/v1/
/public/versions/
/public/latest.json
